.label{
    display:inline-block;
    width: 100px;
}
div1{
    margin:20px;
}
form1{
    background-color: bisque;
    display:inline-block;
    padding: 20px;
}
.fieldset{
    margin: 10px;
}
